body {
    padding-top: 2px;
    padding-left: 2px;
}
#tables {
    width: calc(100% - 1px);

    display: flex;
}
/*
      .ui-jqgrid-titlebar {
        background-color: #337ab7 !important;
        color: #fff;
        border-color: #2e6da4 !important;

      }
      .ui-jqgrid-hbox {
        background-color: #afd9ee;
        color: #fff;
      }*/

#controls-steps button, #controls-scenes button, #controls-sequences button {
    margin: 2px;
    display: block;
    width: 33%;
}

#controls-steps, #controls-scenes, #controls-sequences {
    padding-top: 2px;
    padding-bottom: 8px;
    display: flex;
}
#steps-container, #scenes-container, #sequences-container {
    width: 30%;
    flex-grow: 1;
    padding: 2px;
}


#mixer-container {
    height: 270px;
    margin-left: 2px;
    width: calc(100% - 6px);
}

#shortcuts-container {
    margin-left: 2px;
    margin-bottom: 5px;
    width: calc(100% - 6px);
    height: 66px;
}

#shortcuts {
    width: 100%;
    display: flex;
}

#shortcuts button {
    display: block;
    flex-grow: 1;
    width: 8%;
    margin-right: 2px;
    margin-left: 2px;
    margininfo1px;
}

#mixer-container {
    margin-bottom: 0;
}

#mixer {
    height: 270px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 0;
}
.channel-title {
    text-align: center;
}
.slider-container {
    padding-left: 11px;
    padding-bottom: 14px;
    padding-top:12px;
    height: 180px;
}
.channel .slider {
    height: 150px;
}

label.checkbox-container {
    width: 21px;
    padding-left: 15px;
}

.ui-jqgrid-actions .btn {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.ui-jqgrid-actions .btn.active{
    border: 1px solid transparent !important;
}


.ui-jqgrid-actions .btn span.fa {
    color: #999;
    font-size: 10px !important;
    padding: 2px 3px 2px 2px;
}


tr.trans {
    background-color: lightblue;
}

tr.hold {
    background-color: cornflowerblue;
}

.running span.fa {
    color: red !important;
}

.slider-track-high {
    background-color: lightsteelblue;
}