body {
    padding-top: 2px;
    padding-left: 2px;
}
#tables {
    width: calc(100% - 1px);

    display: flex;
}
/*
      .ui-jqgrid-titlebar {
        background-color: #337ab7 !important;
        color: #fff;
        border-color: #2e6da4 !important;

      }
      .ui-jqgrid-hbox {
        background-color: #afd9ee;
        color: #fff;
      }*/

#controls-steps button, #controls-scenes button, #controls-sequences button {
    margin: 2px;
    display: block;
    width: 33%;
}

#controls-steps, #controls-scenes, #controls-sequences {
    padding-top: 2px;
    padding-bottom: 8px;
    display: flex;
}
#steps-container, #scenes-container, #sequences-container {
    width: 30%;
    flex-grow: 1;
    padding: 2px;
}


#mixer-container {
    height: 270px;
    margin-left: 2px;
    width: calc(100% - 6px);
}

#shortcuts-container {
    margin-left: 2px;
    margin-bottom: 5px;
    width: calc(100% - 6px);
    height: 66px;
}

#shortcuts, #shortcutsedit {
    width: 100%;
    display: flex;
}

#shortcuts button {
    display: block;
    flex-grow: 1;
    width: 8%;
    margin-right: 2px;
    margin-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: none;
}

#mixer-container {
    margin-bottom: 0;
}

#mixer {
    height: 270px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 0;
}
.channel-title {
    text-align: center;
}
.slider-container {
    padding-left: 11px;
    padding-bottom: 14px;
    padding-top:12px;
    height: 180px;
}
.channel .slider {
    height: 150px;
}

label.checkbox-container {
    width: 21px;
    padding-left: 15px;
}

.ui-jqgrid-actions .btn {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.ui-jqgrid-actions .btn.active{
    border: 1px solid transparent !important;
}


.ui-jqgrid-actions .btn span.fa {
    color: #999;
    font-size: 10px !important;
    padding: 2px 3px 2px 2px;
}


tr.trans, tr.trans td {
    background: none !important;
    background-image: none !important;
    background-color: lightblue !important;
}

tr.hold, tr.hold td {
    background: none !important;
    background-image: none !important;
    background-color: cornflowerblue !important;
}

.running span.fa {
    color: red !important;
}

#mixer .slider-track-high {
    background-color: lightsteelblue;
}

#sequences div.slider {
    width: calc(100% - 16px);
}

#sequences .tooltip-arrow {
    display: none;
}

#sequences .tooltip {
    margin-top: -3px;
    font-size: 9px;
}

#sequences .tooltip-inner {
    background-color: inherit;
}

#shortcutsedit-container button {
    display: inline-block;
    width: calc(50% - 3px);
    font-size: 10px;
    font-weight: normal;
    text-shadow: none;
}

#shortcutsedit-container {
    margin-left: 2px;
    margin-bottom: 5px;
    width: calc(100% - 6px);
    height: 66px;
    padding: 6px;
}

#shortcutsedit-container span {
    display: block;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2px;
}

#shortcutsedit {
    padding-top: 6px;
}

.shortcutedit-box {
    display: block;
    flex-grow: 1;
    width: 8%;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding-left: 2px;
    height: 40px;
}

#start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100000;
}

#sequences button {
    text-shadow: none !important;
}

#settings {

}

#settings-container {
    padding: 12px;
    height: calc(100vh - 46px);
    display: block;
}

#settings-footer {
    height: 40px;
    width: 100%;
    padding-right: 12px;
    padding-bottom: 12px;
    display: block;
    text-align: right;
}

.first-label {
    width: 50px;
    text-align: right;
}

#settings .panel {
    width: 400px;
}
